header{
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  justify-items: center;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  margin: 20px;

}

#menu, #sacola{
  text-align: center;
  padding: 37px;
}

