main{
  text-align: center;
}

p{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: black;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-weight: bold;
}

.tenis{
  text-align: center;
  margin: auto;
}

.button-filtrar{
  width: 210px;
  padding: 15px;
  border-radius: 30px;
  border: 0.5px solid rgba(0, 0, 0, 0.555);
  background-color: white;
  text-align: left;
  font-size: 22px;
}

.button-filtro {
  width: 400px;
  padding: 15px;
  margin: 15px;
  border-radius: 30px;
  border: 0.5px solid rgba(0, 0, 0, 0.555);
  background-color: white;
  text-align: left;
  font-size: 22px;
}

.tenis{
  background-color: white;
  padding: 30px;
  margin: 40px;
  box-shadow: 2px 2px 5px 5px rgba(27, 25, 25, 0.041)
}

.button-bag{
  background-color: #FFAD56;
  border-radius: 30px;
  padding: 10px;
  border: 0;
  cursor: pointer;
}

h2{
  font-family: 'Playfair Display', serif;

}

.preco{
  color: #FFAD56;
  font-family: 'Lato', sans-serif;
  
  
  
}

